---
layout: post
title: Tópicos para estudo
permalink: /estudo/
---

<h2>Artigos</h2>

<p>Os artigos estão ordenados por título. Para iniciantes, recomendo começar pelo artigo <em>Olá, Mundo!</em> e, na sequência,
  estudar o artigo <em>Entrada e saída de dados</em>.</p>

<ul>

  {% if site.categories.estudo %}
  {% assign postsOrdenados = site.categories.estudo | sort: 'title' %}
  {% for post in postsOrdenados %}
  <li>
    <div>
      <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </div>
  </li>
  {% endfor %}
  {% endif %}

</ul>

<h2>Videoaulas</h2>

<ul>
  <li><a href="https://youtu.be/uTyNc23JGoE">Introdução a OBI com JavaScript</a></li>
  <li><a href="https://youtu.be/uTyNc23JGoE">Introdução a OBI com Java</a></li>
</ul>