<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <nav class="nav">
    <div class="nav-container">
      <a href="{{ site.baseurl }}/">
        <h2 class="nav-title">{{ site.title }} <img id="balao" src="{{site.baseurl}}/assets/img/balao.jpg"></h2>
      </a>
      <ul>
        <li><a href="{{ site.baseurl }}/">Inicial</a></li>
        <li><a href="{{ '/historico' | prepend: site.baseurl }}/">Histórico</a></li>
        <li><a href="{{ '/estudo' | prepend: site.baseurl }}/">Estudo</a></li>
        <li><a href="{{ '/sobre' | prepend: site.baseurl }}/">Sobre</a></li>
      </ul>
    </div>
  </nav>

  <main>
    {{ content }}
  </main>

  <footer>
    <span>
      &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author }}.
    </span>
  </footer>
</body>

</html>